.hero {
  height: 75vh;
  background-color: var(--couleur-noir);

  position: relative;

  video{
    height: 100%;
    width: 100%;

    object-fit: cover;

    opacity: 0.5;
  }

  h2 {
    padding: 180px 0 20px;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    color: var(--couleur-blanc);

    padding: 0 0 24px;
    margin: 0;
  }

  .content {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &::after {
    content: "";

    background: var(--degrade-principal);

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}


