.interet {
  background-image: url("../images/bg-interet.jpg");
  background-attachment: fixed;
  background-size: cover;

  padding: 66px 0 80px;

  h3 {
    text-align: center;
  }

  .conteneur > p {
    font-size: 1.125rem;
    text-align: center;
  }

}