:root {
  --couleur-principale: #a7029a;
  --degrade-principal: linear-gradient(35.74deg, rgba(167, 2, 154, 0.7) -2.92%, rgba(167, 2, 154, 0) 106.13%);

  --couleur-blanc: #ffffff;
  --couleur-noir: #000000;
}